:root {
    --beige: #efe0b4;
    --lightGreen: #2c462e;
    --darkGreen: #0d1e10;
    --gold: #8b7735;
}

html {
    background-color: var(--beige);
}

body {
    font-family: "Palatino", serif;
}

button {
    margin: 20px 0px 0px 20px;
    padding: 10px;
    border: solid 0.5px var(--gold);
    font-size: 16px;
    color: var(--gold);
    font-weight: 300;
    background: transparent;
    cursor: pointer;
}

button:hover {
    background: var(--gold);
    color: var(--darkGreen);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

button,
a {
    cursor: pointer;
}

li {
    list-style-type: none;
}

div {
    /* border: 1px solid red; */
}

.app {
}

.component {
}

.star {
    color: var(--gold);
}

/* NAV */

/* SEARCH */

/* 1ST LEVEL */

.level-one {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 40px 0px 30px;
}

/* INFO LEFT */
.park-intro {
    padding: 40px;
}

.park-intro h1 {
    margin: 0px;
}

.park-intro h2 {
    margin: 0px;
}

.park-intro h4 {
    margin: 0px;
}

/* INFO RIGHT */
.columns {
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lightGreen);
    color: var(--gold);
    /* box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75); */
}

.columns h1 {
    text-align: center;
}

.column-one {
    border-right: 2px solid var(--gold);
    max-height: 600px;
}

.park-info {
    padding: 0px 10px 10px 30px;
}

.column-two {
    max-height: 500px;
}

.park-activities {
    padding: 0px 10px 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

/* MOUNTAINS */

.mountains {
    position: absolute;
    z-index: 1; 
    top: 620px;
    width: 100%;
}

/* 2ND LEVEL */

.level-two {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* height: 70%; */
    background-color: var(--darkGreen);
    /* box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

/* FORM */

.review-form {
    padding: 20px;
}

.review-form textarea {
    border: solid 1px var(--gold);
    color: var(--gold);
    background: transparent;
    resize: none;
    width: 50%;
    height: 200px;
}

textarea:focus,
input:focus {
    outline: none;
}

p.star {
    display: inline-block;
}

/* MAP */

.map-container {
}

.map {
    width: 100%;
    height: 100%;
}

/* .marker {
    position: absolute;
    color: red;
    font-size: 80px;
} */

/* GALLERY */

/* 2* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    vertical-align: top;
  }
  
  .gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: calc(400px / 600px * 100%);
  }
  
  @media screen and (min-width: 600px) {
    .gallery {
      padding-top: 400px;
    }
  }
  
  .gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
    width: 100%;
  }
  
  .gallery__selector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .gallery__selector:checked + .gallery__img {
    opacity: 1;
  }
  
  .gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
  } */






  /* * {
    box-sizing: border-box;
  } */
  
  /* --no longer enormous-- */
  
  /* --controls width of images-- */
  
  
  /* --Increases space above gallery-- */
  /* @media screen and (min-width: 600px) { */
    .gallery {
      border: 1px solid red;
      padding: 50px;
      display: grid;
      place-items: center;
    }
   
  /* --can no longer change selected pic when turned on--  */
   .gallery__img {
    max-width: 80%;
    /* position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; */
  } 

  .all_thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    width: 750px;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px; 
    /* max-height: 30%;
    max-width: 30%; */
    /* margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: calc(400px / 600px * 100%); */
  }
  
  /* --barely shrinks? when active-- */
   .gallery__thumb {
    width: 125px;
    height: 125px;
    flex-basis: 10%;

    /* padding-top: 6px;
    margin: 6px;
    display: block; */
  }
  
  /* --hides selection bubble when active-- */
  /* .gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  } */
  
  /* no-effect */
  .gallery__selector:checked + .gallery__img {
    opacity: 1;
  }
  
  /* --no effect-- */
  .gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;;
  } 











  /* .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
} */
